.input {
    max-width: 384px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(50, 59, 84);
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(71, 80, 105);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.input::placeholder {
    color: rgb(71, 80, 105);
}

.search {
    background: url('/search.svg') no-repeat 20px 16px, rgba(0, 0, 0, 0.1);
    padding-left: 56px;
}