.error-paragraph,
.regular-paragraph {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
    margin-bottom: 24px;
    max-width: 588px;
}

.film-name {
    color: rgb(235, 238, 245);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.error-paragraph {
    text-align: center;
}

.film-card-description-text {
    color: rgb(142, 149, 169);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}