.favorites {
    color: rgb(123, 110, 246);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
    padding-left: 32px;
    background: url('/like.svg') no-repeat;
}

.is-favorite {
    color: #37D8A7;
    background: url('/favorite.svg') no-repeat;
}