.regular-headler {
    font-size: 64px;
    line-height: 80px;
    color: #EBEEF5;
    letter-spacing: -2%;
    font-weight: 600;
    margin-bottom: 16px;
}

.film-card-title-headler {
    color: rgb(235, 238, 245);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}